/* header section design */
.header_design {
 background-color: rgba(222, 85, 122, 0.115);
 display: flex;
 padding-top: 50px;
 padding-left: 70px;
 padding-right: 70px;
}
.img_design{
    height: 600px;
    width: 450px;
    padding-left: 150px;
}
/* .writing_part{
margin: 30px;
}  */

.btn{
    color: white;
    background-color: rgba(223, 92, 92, 0.818);
    size: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border-color: none;
}










/* 
.heading{
 height: 708px;
 width: 288px;
 size: 0vmax;
 font-weight: bolder;
}

.para{
    height: 634px;
    width: 90px;
} */