*{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
/* header section design */
.header_design {
 background-color: rgba(222, 85, 122, 0.115);
 display: flex;
 padding-top: 50px;
 padding-left: 200px;
 padding-right: 100px;
}
.writing_part{
    padding-top: 80px;
}
.img_design{
    height: 600px;
    width: 500px;
    margin-left: 90px;
}
.btn{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border-color: none;
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;

}
/* feature */
.featured-name{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 13px;
}
/* primary design*/
 /* .primary-section{
    max-width: 1100px;
   
}  */
.section-tittle{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-dec{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin: 20px;
}

/* main   section style */
/* main{
    max-width: 1140px;
    margin: 0 auto;
} */
main section{
    margin-top: 130px;
}


/* instagram section design */
.insta_container{
    display: flex;
    gap: 24px;
    padding-left: 220px;
    padding-right: 50px;
    width: 1100px;
    height: 449px;
    padding-top: 50px;


}
.insta{
    /* gap: 10px;
    padding: 20px;
    padding-right: 50px; */
    height: 242;
    width: 296;
    padding: 2px;
}
/* subscribe input section design */
.input-section{
    background-image: url("images/Rectangle\ 9.png");
    width: 1450px;
    height: 449px;
    margin-left: 230px;
    border: none;

}
.section-heading{
    color: #272727;
    text-align: center;
    
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}
.mail-section{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 11px;
    /* border-radius: 8px; */
    /* background: #FFF; */
   
}
.int-sec{
    color: rgba(39, 39, 39, 0.60);
    padding-left: 22px;
    /* text-align: center; */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 0;
}
.btn-sub{
    color: white;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    font-size: 18px;
    size: 165px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-color: none;
    font-weight: bolder;
}
/* footer design */
footer{
    text-align: center;
    background: #111010;
    height: 449px;
    margin: 0 auto;
    padding-top: 180px;
    margin-top: 130px;
}
.footer-heading{
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.first-para{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.last-para{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* deal section design */
.deal-section{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 60px;
}
/* bonus part(order part) */
.form{
    padding-left: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
}
.form  img{
    margin-top: 3%;
    padding-left: 10%;

}
.order{
    background-image: url(images/green.jpg);
    background-repeat: no-repeat;
    display: flex;
}
.heading{
    color: rgb(107, 25, 78);
    text-align: center;
   font-family:cursive;
    font-size: 29px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 100px;
}
.h-sec{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
.input-part{
    padding: 7px;
    border: #FFF;
    border-radius: 9px;
    box-shadow: 3px 6px rgb(134, 133, 133);
    margin-top: 9px;
    width: 270px;
    height: 45px;
}